body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
  margin:30px auto;
}
.App-content{
  background-color:rgb(135, 245, 168);
  /*background-image: url(./img/ripcurl-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;*/
}
body{
  background-color: rgb(250, 178, 23);
}
